* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 13px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: radial-gradient(farthest-corner at 50% 60%, rgb(224, 146, 0) 20%, rgb(255, 184, 51));
  background-attachment: fixed;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin: 1.5rem 1rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

main {
  padding: 1rem;

  svg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  #tooltip {
    font-size: 0.9rem;
  }
}

footer {
  text-align: center;
  font-size: 0.85rem;
  margin: 1.5rem 1rem;;
}